/* stylelint-disable font-family-no-missing-generic-family-keyword */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
}

@font-face {
  font-family: Poppins;
  src: url(./../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(./../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(./../assets/fonts/Poppins/Poppins-Bold.ttf);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 0 94px;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  height: 71px;
  width: 80%;
}

.toggler {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo a {
  font-family: PoppinsMedium;
  color: #6070ff;
  text-decoration: none;
  font-size: 18;
  font-weight: 700;
}

/* navigation section design starts here */
.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav ul li {
  padding-right: 20px;
  padding-left: 20px;
  display: block;
}

.nav > ul > li > a {
  text-decoration: none;
  color: #344563;
  font-family: Poppins;
}

/* banner section design starts here */
.banner-section {
  width: 100%;
  height: 846px;
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  padding: 24px;
  justify-content: center;
  align-items: center;
  height: 720px;
}

.banner-background {
  background-image: url("./../assets/pngs/icons/Headerbg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.banner {
  width: 70%;
}

.banner-header {
  font-family: PoppinsBold;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.banner-header h1 {
  margin: 0;
  margin-top: 24px;
}

.banner-body p {
  font-family: Poppins;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin: 0;
  margin-top: 12px;
}

.banner-footer {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: PoppinsMedium;
}

.banner-social {
  display: flex;
  width: 171px;
  justify-content: space-between;
  height: 40px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.banner-social .social {
  text-decoration: none;
  display: flex;
}

/* job section design starts here */
.jobs {
  display: grid;
  margin-top: 88px;
  gap: 88px;
  width: 80%;
}

.card {
  height: auto;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  border: 1px #dfe1e6 solid;
}

.card:hover {
  box-shadow: 0 4px 48px rgba(37, 47, 137, 0.08);
  transition: all 0.5s ease-in-out;
}

.card-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.container {
  padding: 24px;
}

.card-content {
  width: 50%;
}

.card-img {
  width: 50%;
  height: 100%;
  align-self: center;
}

.card-title-text {
  margin: 0;
  margin-top: 16px;
}

.job-img {
  border-radius: 8px;
  width: 100%;
}

.card-title {
  font-family: PoppinsBold;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-subtitle {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  width: 296px;
  font-family: Poppins;
  margin-bottom: 20px;
}

.el1 {
  color: #344563;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
}

.el2 {
  color: #7a869a;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
}

.dividor {
  background-color: #c1c7d0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.card-body {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-description p {
  font-family: Poppins;
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.stack-section {
  padding-bottom: 10px;
  margin-top: 34px;
}

.stack-container {
  float: left;
  padding-right: 8px;
}

.tech-stack {
  color: #6070ff;
  background-color: #ebebff;
  font-family: Poppins;
  height: 24px;
  padding: 6px 12px 6px 12px;
  font-size: 12px;
  align-content: center;
  border-radius: 8px;
}

.card-footer {
  margin-top: 68px;
}

.show-button {
  padding: 12px;
  text-decoration: none;
  border: 1px #6070ff solid;
  border-radius: 8px;
  color: #6070ff;
  font-family: Poppins;
}

.show-button:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.25);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.show-button:active {
  background-color: #2230d2;
  color: #fff;
}

.reversed {
  flex-direction: row-reverse;
  padding-right: 0;
}

/* about section design starts here */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 114px;
  background-color: #fff;
  border-radius: 0 94px 0 0;
  width: 100%;
}

.about-container {
  width: 80%;
  display: flex;
}

.about-contents {
  width: 50%;
}

.about-title {
  font-family: PoppinsBold;
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
}

.about-title h1 {
  margin: 0;
  margin-top: 90px;
}

.about-link {
  font-family: Poppins;
  color: #7f8cff;
  text-decoration: none;
}

.about-social h2 {
  margin: 0;
}

.about-social .banner-social img {
  padding: 8px;
  width: 18px;
  margin-top: 18px;
}

.about-resume {
  padding-top: 56px;
}

.about-categories {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  width: 50%;
  padding: 20px;
  padding-left: 0;
}

.section-title {
  width: 100%;
  height: 72px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-family: Poppins;
}

.title-text {
  font-size: 20px;
}

.dropdown-icon {
  width: 50px;
}

.categories {
  margin: 0;
  padding: 10px;
  display: flex;
}

.category-item {
  background-color: #f4f5f7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 10px;
  margin-bottom: 12px;
  padding: 10px;
  width: 122px;
  height: 120px;
}

.category-img .cat-img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 10px;
}

.cat-name {
  margin-left: 10px;
  font-size: 15px;
  font-family: PoppinsMedium;
  font-weight: 400;
  color: #253858;
  padding-top: 10px;
}

.about-body {
  font-size: 16px;
  font-family: Poppins;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding-right: 24px;
}

.divide {
  border: 1px #dfe1e6 solid;
}

/* contact section design starts here */
.contact-section {
  background-color: #fff;
  width: 100%;
}

.contact-container {
  background-image: url("./../assets/pngs/icons/contactBgDesktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6070ff;
  border-radius: 94px 0 0 0;
  display: flex;
  justify-content: center;
  margin-top: 88px;
  width: 100%;
}

.contact-contents {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
}

.contact-title h2 {
  margin: 0;
  margin-top: 114px;
  color: #fff;
  font-family: PoppinsBold;
  font-size: 40px;
}

.contact-body {
  width: 70%;
}

.contact-body p {
  color: #fff;
  font-size: 20px;
  font-family: Poppins;
  line-height: 28px;
}

.form-container {
  width: 80%;
}

.input-container {
  padding: 10px;
}

.input-field {
  width: 100%;
  border-radius: 8px;
  border: none;
  height: 48px;
  padding-left: 20px;
  box-sizing: border-box;
}

.input-field:focus {
  border-radius: none;
  border: 3px red solid;
}

.text-field {
  border-radius: 8px;
  border: 0 solid;
  height: 170px;
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
}

.button-container {
  padding-left: 8px;
  padding-bottom: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-btn {
  background-color: #fff;
}

/* modal styling */
.invisible {
  display: none !important;
}

.job-detail-component {
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  left: 0;
  height: 100%;
  overflow: scroll;
}

.job-detail-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  border: 1px #dfe1e6 solid;
  padding: 24px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.job-detail-title {
  display: flex;
  flex-direction: column;
}

.job-detail-title h2 {
  margin: 0;
  font-family: PoppinsBold;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.job-detail-img {
  width: 100%;
}

.job-detail-img .card-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.title-row {
  display: flex;
  justify-content: space-between;
}

.close {
  background-image: url(./../assets/pngs/icons/close2.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.job-detail-buttons {
  width: 100%;
}

.job-detail-buttons .card-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  width: 100%;
  position: relative;
}

.show-button[type="button"] {
  background-color: transparent;
  margin: 0;
  bottom: 0;
}

.job-detail-buttons > .card-footer > .show-button {
  padding: 12px;
  text-decoration: none;
  border: 1px #6070ff solid;
  border-radius: 8px;
  color: #6070ff;
  font-family: Poppins;
  left: 0;
  top: 0;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
}

.show-button p {
  margin: 0;
}

.show-button .btn-icon img {
  margin: 0;
  padding: 0;
}

.spacer {
  width: 20px;
}

.background-blur-menu {
  background: rgba(96, 112, 255, 0.01);
  position: fixed;
  height: 100vh;
  filter: blur(10px);
  z-index: 100;
  backdrop-filter: blur(10px);
  transform: 0.5s;
}

.overlay-hide {
  width: 0;
}

.overlay-show {
  width: 100%;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.job-detail-description {
  padding: 24px;
}

.description-container > .job-detail-buttons {
  margin: 0;
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 30%;
}

.description-container > .job-detail-description {
  margin: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 60%;
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

@media (max-width: 720px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .main-header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 48px;
  }

  .toggler {
    display: flex;
    align-items: center;
    background-image: url("./../assets/pngs/icons/Union.png");
    width: 18px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav-hide {
    width: 0;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    height: 100vh;
    z-index: 100;
    background-color: #6070ff;
    left: 0;
    top: 0;
  }

  .banner-footer a {
    text-decoration: none;
    color: #7f8cff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .about-social h2 a {
    font-family: Poppins;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 76px;
    color: #fff;
  }

  .nav-show {
    display: flex;
    width: 100%;
    background: rgba(96, 112, 255, 1);
    mix-blend-mode: multiply;
  }

  .background-blur-menu {
    background: rgba(96, 112, 255, 0.01);
    position: fixed;
    height: 100vh;
    filter: blur(10px);
    z-index: 100;
    backdrop-filter: blur(10px);
    transform: 0.5s;
  }

  .menu {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
  }

  .nav-close {
    right: 22px;
    top: 30px;
    color: white;
    position: absolute;
    font-size: 18px;
    font-family: PoppinsLight;
  }

  .menu li {
    padding: 20px;
    padding-left: 0;
    display: block;
  }

  .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 600;
  }

  .nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 600;
  }

  .banner {
    width: 80%;
  }

  .banner-section {
    height: 652px;
  }

  .banner-header {
    font-size: 38px;
    line-height: 52px;
    color: #172b4d;
    font-family: PoppinsBold;
    max-height: 200px;
  }

  .banner-container {
    padding: 0;
    height: auto;
    width: 100%;
  }

  .banner-background {
    background-image: url("./../assets/pngs/icons/header-shapes-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .banner-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #172b4d;
  }

  .banner-body p {
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .banner-footer {
    display: flex;
    flex-direction: column;
  }

  .banner-social {
    display: flex;
    width: 171px;
    justify-content: space-between;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }

  .banner-social .social {
    text-decoration: none;
    display: flex;
  }

  .jobs {
    /* padding: 24px; */
    display: grid;
    grid-column: auto;
    gap: 88px;
    margin-top: 88px;
  }

  .reversed {
    flex-direction: column;
    padding-right: 0;
  }

  .container {
    padding: 0;
  }

  .card-content {
    width: 100%;
  }

  .card {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    border: 1px #dfe1e6 solid;
  }

  .card-container {
    padding: 16px;
  }

  .card .card-img {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }

  .card-title-text {
    margin: 0;
    margin-top: 16px;
  }

  .job-img {
    border-radius: 8px;
    width: 100%;
  }

  .card-title {
    font-family: PoppinsBold;
    font-size: 24px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .card-subtitle {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
    align-items: center;
    width: 236px;
    font-family: Poppins;
    margin-bottom: 12px;
  }

  .el1 {
    color: #344563;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
  }

  .el2 {
    color: #7a869a;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
  }

  .dividor {
    background-color: #c1c7d0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .card-body {
    width: 100%;
    margin: 0;
  }

  .card-body p {
    margin-top: 4px;
  }

  .card-description p {
    font-family: Poppins;
    color: #344563;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
  }

  .stack-section {
    margin-top: 24px;
    padding-bottom: 24px;
  }

  .stack-container {
    float: left;
    padding-right: 8px;
  }

  .tech-stack {
    color: #6070ff;
    background-color: #ebebff;
    font-family: Poppins;
    height: 24px;
    padding: 6px 12px 6px 12px;
    font-size: 12px;
    align-content: center;
    border-radius: 8px;
  }

  .card-footer {
    margin-top: 48px;
  }

  .job-detail-component {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .job-detail-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 16px;
    border: 1px #dfe1e6 solid;
    position: relative;
    top: 100px;
    margin-bottom: 122px;
    margin-top: 100px;
  }

  .job-detail-title {
    display: flex;
    flex-direction: column;
  }

  .job-detail-title h2 {
    margin: 0;
    font-family: PoppinsBold;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
  }

  .job-detail-img {
    width: 100%;
  }

  .job-detail-img .card-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .title-row {
    display: flex;
    justify-content: space-between;
  }

  .close {
    background-image: url(./../assets/pngs/icons/close2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
  }

  .job-detail-buttons {
    width: 100%;
  }

  .job-detail-buttons .card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 24px !important;
    width: 100%;
    position: relative;
  }

  .show-button[type="button"] {
    background-color: transparent;
    margin: 0;
    bottom: 0;
  }

  .show-button {
    padding: 12px;
    text-decoration: none;
    border: 1px #6070ff solid;
    border-radius: 8px;
    color: #6070ff;
    font-family: Poppins;
  }

  .show-button:hover {
    background-color: #6070ff;
    box-shadow: 0 8px 16px 0 rgba(64, 83, 252, 0.25);
    color: #fff;
  }

  .show-button:active {
    background-color: #2230d2;
    color: #fff;
  }

  .job-detail-buttons > .card-footer > .show-button {
    padding: 12px;
    text-decoration: none;
    border: 1px #6070ff solid;
    border-radius: 8px;
    color: #6070ff;
    font-family: Poppins;
    left: 0;
    top: 0;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
  }

  .show-button p {
    margin: 0;
  }

  .show-button .btn-icon img {
    margin: 0;
    padding: 0;
  }

  .spacer {
    width: 20px;
  }

  .description-container {
    width: 100%;
    top: 50%;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .job-desc {
    top: 0 !important;
  }

  .job-detail-desc {
    padding: 0 !important;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    margin-top: 114px;
    background-color: #fff;
    border-radius: 0 94px 0 0;
  }

  .about-title h1 {
    font-family: PoppinsBold;
    color: #172b4d;
    font-size: 40px;
    line-height: 52px;
    margin: 0;
    margin-top: 90px;
  }

  .about-social h2 {
    margin: 0;
  }

  .about-social .banner-social img {
    padding: 8px;
    width: 18px;
  }

  .about-resume {
    padding-top: 34px;
  }

  .about-social {
    padding: 0;
  }

  .about-categories {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    width: 100%;
  }

  .section-title {
    width: 100%;
    height: 72px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
  }

  .title-text {
    font-size: 20px;
  }

  .dropdown-icon {
    width: 50px;
  }

  .categories {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .category-item {
    background-color: #f4f5f7;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    width: 100%;
    height: 66px;
  }

  .category-img .cat-img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  .cat-name {
    margin-left: 10px;
    font-size: 15px;
    font-family: Poppins;
    color: #253858;
    padding: 0;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 80%;
  }

  .about-contents {
    width: 100%;
  }

  .about-body {
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
  }

  .divide {
    border: 1px #dfe1e6 solid;
  }

  .contact-section {
    background-color: #fff;
  }

  .contact-container {
    background-image: url("./../assets/pngs/icons/contactBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6070ff;
    border-radius: 94px 0 0 0;
    margin-top: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-contents {
    width: 100%;
  }

  .contact-title h2 {
    margin: 0;
    color: #fff;
    font-family: PoppinsBold;
    font-size: 40px;
  }

  .contact-body {
    width: 70%;
  }

  .contact-body p {
    color: #fff;
    font-size: 20px;
    font-family: Poppins;
    line-height: 28px;
  }

  .form-container {
    width: 80%;
  }

  .input-container {
    padding: 10px;
  }

  .input-field {
    width: 100%;
    border-radius: 8px;
    border: none;
    height: 48px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .input-field:focus {
    border-radius: none;
    border: 3px red solid;
  }

  .text-field {
    border-radius: 8px;
    border: 0 solid;
    height: 170px;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
  }

  .button-container {
    padding-left: 8px;
    padding-bottom: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .contact-btn {
    background-color: #fff;
  }
}
