/* stylelint-disable font-family-no-missing-generic-family-keyword */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f5f7;
}

@font-face {
  font-family: Poppins;
  src: url(./../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(./../assets/fonts/Poppins/Poppins-Medium.ttf);
}

.wrapper {
  display: flex;
  width: 100%;
}

.header-section {
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 0 15%;
}

.main-header {
  display: flex;
}

.nav {
  display: flex;
}

.logo {
  width: 100px;
  display: flex;
  justify-content: center;
}

.logo a {
  font-family: PoppinsMedium;
  color: #6070ff;
  text-decoration: none;
  font-size: 18;
  font-weight: 700;
}

.banner {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  padding: 24px;
  width: 80%;
  justify-content: flex-start;
  height: 604px;
}

@media (max-width: 540px) {
  .main-header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 71px;
  }

  .toggler {
    display: flex;
    align-items: center;
    background-image: url('./../assets/pngs/Union.png');
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav {
    flex-direction: column;
  }

  .header-section {
    background-image: url('./../assets/pngs/header-shapes-mobile.png');
    height: 718px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .banner-header {
    font-size: 38px;
    line-height: 52px;
    color: #172b4d;
    font-family: Poppins;
    max-height: 200px;
  }

  .banner-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #172b4d;
  }

  .banner-footer {
    display: flex;
    flex-direction: column;
  }

  .banner-footer a {
    text-decoration: none;
    color: #7f8cff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .banner-social {
    display: flex;
    width: 171px;
    justify-content: space-between;
    height: 40px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }

  .banner-social .social {
    text-decoration: none;
    display: flex;
  }
}
